header {
  height: 80px;
  background-color: #ffffff;
  display: flex;
}

.header_div {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 18%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
}

.header_div_span {
  width: 27%;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 2%;
}

nav li:hover {
  text-decoration: underline;
}

.first {
  background-color: #2f303a;
  height: 600px;
  width: 100%;
}

.first div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.first h1 {
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #ffffff;
  padding-top: 200px;
}

.first button {
  width: 216px;
  height: 50px;
  top: 430px;
  left: 692px;
  background-color: #2196f3;
  border-radius: 4px 4px 4px 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}

.modal_content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 3%;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 6px;
}

.svg_icon_close {
  width: 11px;
  height: 11px;
}

.svg_icon_modal {
  width: 18px;
  height: 18px;
  margin: 11px;
}

.btn-close {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: none;
  border-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
}

.svg_icon_close:hover path {
  fill: #2196f3;
}

.modal p {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 10px;
}

.label_div {
  width: 100%;
}

.form-label {
  width: 100%;
}
.form-label input,
.form-label textarea {
  border: none;
  all: unset;
  width: 100%;
}

.input,
.textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 14px;
}

.textarea {
  height: 120px;
  align-items: flex-start;
  gap: 16px;
  padding: 12px 16px;
  font-family: Roboto;
  font-size: 12px;
}
.textarea textarea::-moz-placeholder {
  font-family: Roboto;
  font-size: 12px;
}
.textarea textarea::placeholder {
  font-family: Roboto;
  font-size: 12px;
}

.check_label {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  text-align: center;
  height: 24px;
  font-family: Roboto;
  font-size: 14px;
}
.check_label p {
  margin: 0;
  font-size: inherit;
}
.check_label a {
  all: unset;
  color: #2196f3;
}

.butt_modal {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.butt_modal:hover {
  cursor: pointer;
}

.form-label:hover {
  cursor: pointer;
}
.form-label:hover .input,
.form-label:hover .textarea {
  border-color: #2196f3;
}
.form-label:hover .svg_icon_modal path {
  fill: #2196f3;
}

.special {
  height: 286px;
}

.special_content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}

.special_div {
  width: 23%;
}

.special_div h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  letter-spacing: 0.03em;
  color: #212121;
}

.special_div p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}

.about {
  height: 480px;
}

.about h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.div_about {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.about > h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}

.div_about_box1 {
  background-image: url("../img/box1@1x.png");
  width: 370px;
  height: 294px;
  display: flex;
  align-items: end;
}

.div_about_box2 {
  background-image: url("../img/box2@1x.png");
  width: 370px;
  height: 294px;
  display: flex;
  align-items: end;
}

.div_about_box3 {
  background-image: url("../img/box3@1x.png");
  width: 370px;
  height: 294px;
  display: flex;
  align-items: end;
}

.box_title {
  width: 370px;
  height: 70px;
  color: #ffffff;
  background-color: #2f303a;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2x) {
  .div_about_box1 {
    background-image: url("../img/box1@2x.png");
  }
  .div_about_box2 {
    background-image: url("../img/box2@2x.png");
  }
  .div_about_box3 {
    background-image: url("../img/box3@2x.png");
  }
}
.team {
  height: 708px;
  background-color: #ececec;
  width: 100%;
}

.team_content {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 94px;
}

.team_content_div {
  text-align: center;
  width: 270px;
  background-color: #ffffff;
}

.team_content img {
  width: 270px;
  height: 260px;
}

.team h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  padding-top: 94px;
}

.team h4 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 30px;
}

.team h5 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-top: 10px;
}

.svg_icon {
  width: 44px;
  height: 44px;
}

.div_icons {
  width: 206px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
  margin-bottom: 30px;
}

.svg_icon:hover {
  --color3: #2196f3;
  --color1: #ffffff;
}

.brands div {
  display: flex;
  justify-content: space-between;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;
}

.svg_icon_brands {
  width: 170px;
  height: 92px;
}

.brands {
  align-items: center;
}

.brands h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}

.svg_icon_brands:hover {
  --color1: #2196f3;
}

footer {
  height: 252px;
  background-color: #2f303a;
}

footer div {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

footer h6 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #ffffff;
  margin-top: 20px;
}

footer span {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: block;
  color: #757575;
  margin-top: 9px;
}

* {
  margin: 0;
  padding: 0;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  font-family: Roboto;
}

body {
  width: 100%;
}