@use "components/header";
@use "components/first";
@use "components/special";
@use "components/about";
@use "components/team";
@use "components/brands";
@use "components/footer";
@use "components/portfolio";

* {
  margin: 0;
  padding: 0;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  font-family: Roboto;
}

body {
  width: 100%;
}
