@use "../utils/colors";
@use "../utils/mixins";

@media screen and (max-width: 1320px) {
  .div_about {
    flex-wrap: wrap;
  }
}

.about h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.div_about {
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.about > h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: center;
  text-transform: uppercase;
}

@each $box in box1, box2, box3 {
  .div_about_#{$box} {
    background-image: url("../img/#{$box}@1x.png");
    width: 370px;
    height: 294px;
    display: flex;
    align-items: end;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.box_title {
  width: 370px;
  height: 70px;
  color: colors.$white;
  background-color: colors.$dark_blue;
  opacity: 0.8;
  @include mixins.flex_all_center;
}

@media (min-resolution: 2x) {
  @each $box in box1, box2, box3 {
    .div_about_#{$box} {
      background-image: url("../img/#{$box}@2x.png");
    }
  }
}
