@use "../utils/colors";
@use "./../utils/mixins";



.brands_cheto {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 94px;
}

.svg_icon_brands {
  margin-bottom: 15px;
  width: 170px;
  height: 92px;
  transition: var(--color1) 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brands {
  align-items: center;
}

.brands h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  letter-spacing: 0.03em;
  margin-top: 94px;
  margin-bottom: 50px;
}

.svg_icon_brands:hover {
  --color1: #{colors.$blue};
}

@media screen and (max-width: 1320px) {
  .brands_cheto {
    flex-wrap: wrap;
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media screen and (max-width: 480px) {
  .svg_icon_brands {
    width: 140px;
    

  }

  .brands_cheto {
    margin-left: 35px;
    margin-right: 35px;

  }
}