@use "./../utils/colors";

footer {
  height: 252px;
  background-color: colors.$dark_blue;
}

footer div {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
}

footer h6 {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: colors.$white;
  margin-top: 20px;
}

footer span {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  display: block;
  color: colors.$grey;
  margin-top: 9px;
}
