@use "./../utils/colors";
@use "./../utils/mixins";

@media screen and (max-width: 1320px) {
  .special_content {
    flex-wrap: wrap;
  }
  .special_div {
    width: 354px;
  }
}

@media screen and (max-width: 480px) {
  .special_content {
    flex-wrap: wrap;
    
    flex-direction: column;
  }
  .special_div {
    width: 450px;
  }
}




.special_content {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
}

.special_div {
  width: 270px;
  margin-bottom: 20px;
}

.special_div h3 {
  font-size: 14px;
  color: colors.$dark_grey;
}

.special_div p {
  font-size: 14px;
  color: colors.$grey;
  margin: 0;
  margin-top: 10px;
}
