@use "./../utils/colors";
@use "./../utils/mixins";








.special_content {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 94px;
  padding-left: 55px;
  padding-right: 55px;
}

.special_div {
  width: 270px;
  margin-bottom: 20px;
}

.special_div h3 {
  font-size: 14px;
  color: colors.$dark_grey;
}

.special_div p {
  font-size: 14px;
  color: colors.$grey;
  margin: 0;
  margin-top: 10px;
  width: 270px;

  
}




@media screen and (max-width: 1320px) {
  .special_content {
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 0;
  padding-right: 0;
  }
  .special_div {
    width: 354px;
  }
}

@media screen and (max-width: 480px) {
  .special_content {
    flex-wrap: wrap;
    margin-left: 15px;
    margin-right: 15px;
    
    flex-direction: column;
  }

  .special_div {
    width: 100%;
  }
  
}
